# Database
DATABASE_URL=postgresql://user:password@localhost:5432/grocery_shop

# JWT Configuration
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_TOKEN_EXPIRY=15m
JWT_REFRESH_TOKEN=your_jwt_refresh_token
JWT_REFRESH_TOKEN_EXPIRY=1d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# CORS
CORS_ORIGIN=http://localhost:3000

# Server Port
PORT=4000
