

# M-Pesa Configuration (Daraja API)
MPESA_CONSUMER_KEY=a4aMrRsflxeh1AaeUQhOFy9Lc7oDsbVYFYmujARFsiGxqbED
MPESA_CONSUMER_SECRET=VBYIZdbM2azJ73mkFRDyIYAQmDrwQ6QN7lJp9ZbU2RiE4QKyRSjkcG3kRmm33Kvn
MPESA_SHORT_CODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97ddf0d6f9f2f8b3b5b9c7c8d9e0f1a2b3c4d5e6f7

MPESA_CALLBACK_URL=https://grocery-shop-api-ga08.onrender.com/api/mpesa/callback
MPESA_ENVIRONMENT=sandbox



